<p>
  <img src="https://cyberuslabs.com/wp-content/uploads/2015/09/cl_new_logo-e1553199321586.png" alt="Cyberus Key logo">
</p>

# What is Cyberus Key?

Your users will never need to remember or input a password again with Cyberus Key, our one-touch
universal, user authentication system.

Now you can guarantee your customers the highest level of protection against phishing attacks, identity and data theft,and more. By removing the risk
of stolen passwords or credentials, you can eliminate one of the biggest cyber security threats..

# Cyberus Key Widget

Cyberus Key Widget is a button that help you to integrate with Cyberus Key Authentication Server. After clicking the button an OpenID's authentication
proccess will be started.

# How to install?

With NPM:
```
npm install cyberuskey-widget
```

With Yarn:
```
yarn add cyberuskey-widget
```

And then you can embed the button on your web page:

```javascript
import { CyberusKeyWidget, HTML5GeoProvider } from "cyberuskey-widget";

$(document).ready(() => {
  const cyberusKeyButton = new CyberusKeyWidget({
    theme: 'default',
    serverUrl: API_URL
  };

  cyberusKeyButton.create('.cyberus-key-widget-container', CLIENT_ID, REDIRECT_URI, new HTML5GeoProvider());
});
```

# Links

CyberusKey SDK docs: https://github.com/CyberusLabs/cyberuskey-sdk/

# Documentation

{{>main}}
