$text-color: #7e8aac;
$button-left-color: #eb5e18;
$button-right-color: #ef7d46;
$button-separator-color: #f18c5a;
$button-eliot-left-color: #1490FB;
$button-eliot-right-color: #0754B6;
$button-eliot-separator-color: #3897EF;
$loader-color: #ababab;